* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    font-style: normal;
}

.ajp-section {
    font-family: Poppins;
}

.ajp-section-full-height {
    padding: 1rem 3rem;
}

.ajp-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    align-items: center;
    font-family: Poppins;
}

.ajp-nav-title {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Poppins;
}

.ajp-nav-section {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.ajp-nav-section ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    gap: 3rem;
}

.ajp-nav-section ul li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    font-family: Poppins;
}

.ajp-nav-section ul li a,
.ajp-nav-section ul li a:visited {
    color: #000;
}


.ajp-nav-section ul li a {
    text-decoration: none;
}

.ajp-social-media-section a {
    display: flex;
    align-items: center;
}


.ajp-social-media-icon {}

.ajp-github-icon {
    width: 1.75rem;
    height: 1.75rem;
}

.ajp-linkedin-icon {
    width: 2rem;
    height: 2rem;
}

.ajp-home-section {
    padding: 0 3rem;
    font-size: 5rem;
    font-weight: 500;
    display: flex;
    height: calc(100vh - 5rem);
    align-items: center;
    justify-content: space-between;
}

.ajp-home-description {}

.ajp-description {}

.ajp-description-wish {}

.ajp-description-name {}

.ajp-description-designation {
    font-size: 4rem;
}

.ajp-home-profile img {
    border-radius: 20rem;
    height: 37.5rem;
    width: 37.5rem;
    border: 1rem solid #000;
    object-fit: contain;
}