* {
    margin: 0;
    padding: 0;
}

:root {
    --ajp-background-color: #20242d;
    --ajp-text-color: #fbfbfb;
    --ajp-text-emphasize-color: #04d5df;
}

.txt-trnsfm-none {
    text-transform: none;
}

.txt-trnsfm-uprcas {
    text-transform: uppercase;
}

.txt-trnsfm-lwrcas {
    text-transform: lowercase;
}

.txt-trnsfm-cptliz {
    text-transform: capitalize;
}

.txt-fnt-wght-100 {
    font-weight: 100;
}

.txt-fnt-wght-200 {
    font-weight: 200;
}

.txt-fnt-wght-300 {
    font-weight: 300;
}

.txt-fnt-wght-400 {
    font-weight: 400;
}

.txt-fnt-wght-500 {
    font-weight: 500;
}

.txt-fnt-wght-600 {
    font-weight: 600;
}

.txt-fnt-wght-700 {
    font-weight: 700;
}

.ajp-section {
    padding: 2rem;
    height: calc(100vh - 4rem);
    font-family: "Yanone Kaffeesatz", serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.ajp-landing-sctn {
    background-color: var(--ajp-background-color);
}

.ajp-landing-sctn .wrapper {
    background-color: var(--ajp-background-color);
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
}

.ajp-landing-sctn .wrapper .title {
    color: var(--ajp-text-color);
    font-size: 15rem;
    font-weight: 700;
    font-family: "Yanone Kaffeesatz", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ajp-landing-sctn .wrapper .title el {
    color: var(--ajp-text-emphasize-color);
}

.ajp-tech-sctn {
    font-weight: 700;
    background-color: #faebd7;
}

.ajp-wrpr {
    height: calc(100vh - 4rem);
    border-radius: 0.5rem;
    padding: 0 4rem;
}

.ajp-tech-wrpr {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #e9c293;
    justify-content: space-between;
    height: calc(100vh - 12rem);
}

.ajp-tech-sctn label {
    font-size: 2rem;
}

.front-end label {
    margin-bottom: 1rem;
}

.welcome,
.designation {
    font-family: "Yanone Kaffeesatz", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    color: var(--ajp-text-color);
}

.designation {
    font-weight: 600;
}

.ajp-card-container {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.ajp-card {
    background-color: #faebd7;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

@media (max-width: 480px) {
    .ajp-section {
        padding: 1rem;
        height: calc(100vh - 2rem);
    }

    .ajp-section .wrapper {
        padding: 1rem;
    }

    .welcome {
        font-size: 1rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .designation {
        font-size: 1.25rem;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .ajp-section {
        padding: 1.25rem;
        height: calc(100vh - 2.5rem);
    }

    .ajp-section .wrapper {
        padding: 1.25rem;
    }

    .welcome {
        font-size: 1rem;
    }

    .title {
        font-size: 5rem;
    }

    .designation {
        font-size: 1.5rem;
    }
}

@media (min-width: 721px) and (max-width: 1180px) {
    .ajp-section {
        padding: 1.5rem;
        height: calc(100vh - 3rem);
    }

    .ajp-section .wrapper {
        padding: 1.5rem;
    }

    .welcome {
        font-size: 1.5rem;
    }

    .title {
        font-size: 7.5rem;
    }

    .designation {
        font-size: 2.25rem;
    }
}

@media (min-width: 1181px) and (max-width: 1280px) {
    .ajp-section {
        padding: 1.75rem;
        height: calc(100vh - 3.5rem);
    }

    .ajp-section .wrapper {
        padding: 1.75rem;
    }

    .welcome {
        font-size: 2rem;
    }

    .title {
        font-size: 10rem;
    }

    .designation {
        font-size: 3rem;
    }
}

@media (min-width: 1281px) and (max-width: 1920px) {
    .welcome {
        font-size: 3rem;
    }

    .title {
        font-size: 15rem;
    }

    .designation {
        font-size: 4.5rem;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .welcome {
        font-size: 4rem;
    }

    .title {
        font-size: 20rem;
    }

    .designation {
        font-size: 6rem;
    }
}

@media (min-width: 2561px) and (max-width: 3840px) {
    .welcome {
        font-size: 5rem;
    }

    .title {
        font-size: 25rem;
    }

    .designation {
        font-size: 7.5rem;
    }
}

@media (min-width: 3841px) and (max-width: 5120px) {
    .welcome {
        font-size: 6rem;
    }

    .title {
        font-size: 30rem;
    }

    .designation {
        font-size: 9rem;
    }
}

@media (min-width: 5121px) and (max-width: 7680px) {
    .welcome {
        font-size: 7rem;
    }

    .title {
        font-size: 35rem;
    }

    .designation {
        font-size: 10.5rem;
    }
}

@media (min-width: 7681px) {
    .welcome {
        font-size: 8rem;
    }

    .title {
        font-size: 40rem;
    }

    .designation {
        font-size: 12rem;
    }
}